.sign-in-container {   
    display: fley;
    flex-direction: column;
    width: 380px;

    h2 {
        margin: 10px 0px;
    }
    .sign-in-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}